@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto:wght@300;400;700&display=swap');

/*Definimos los colores y las guardamos en variables para acceder a ellas desde el codigo*/
:root{
    --color-menu: #125B50;
    --color-menu-hover: #1d201e;
    --color-menu-hamburguesa:rgb(207, 129, 129); 
    --color-backgroundMobilCards: #FCF8E8; 
    --color-backgroundMediumCards: #344969; 
    --color-backgroundUpyDown:rgba(6,17,52,1);
    --color-fondo:#2367ab; 
    --color-fondo960:#152b41;
    --color-fondo1400:#1873ce;
    --color-letra1:black;
    --color-letra2:white; 
    --color-letra3:red;
    --color-lineasCard:black; 
    
}

a{
    text-decoration: none;
    color: black;
}

body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

/*declaramos las propiedades para areas*/

.menu {grid-area: menu;}
.card {grid-area: card;}
.patas{grid-area: patas;}
.container {
    /*le indicamos que abarque de manera automatica */
    
    width: auto;
    height: auto;
    
    background-color:var(--color-background);
    /*hacemos uso de grid con display:grid*/
    display: grid;
    /*definimos las areas que tendra el layout*/
    grid-template-areas:
    
    'menu '
    'card '
    'patas'
    ;
  
    /*Indicamos la separacion entre cada columna*/
    gap: 0px;
  
     background-color: var(--color-fondo960);
     min-height: 100vh;  
}

.container>*{
 width: 100%;
 height: 100%;

}

/* asociamos con la ~ cuando esta chequeado se muestran los elementos del menu */
.btnMenu{
visibility:hidden;
margin: 0;
padding: 0;
width: 0;
height: 0;

}
.check{
display: none;
width: 0;
height: 0;
}

.logodeBarraNav {
width: 100px;
padding-top: 10px;
padding-bottom: 5px;
padding-left: 10px;
margin-top: -37px;
margin-left: -25px;
background-color: rgb(44, 64, 128);

}
.logodeBarraNav:hover{
background-color: rgb(44, 64, 128);
}

.menu{


width: 100%;
height: 88px;
background-color:var(--color-backgroundUpyDown);



}

/* li que contiene la imagen y el nombre de usuario */
#datosPersonales{
    margin-top: -20px;
}

/* nombre de usuario */
.nombreUsr{
    
    font-family: 'Roboto', sans-serif;
    font-size: 15px;    
    /* border: solid gold 2px; */
    
    
}

/* imagen del usuario */
.imgAdmin{
    width: 25px;
    border-radius: 15px;
    border: solid black 2px;   
}

/* quitamos el estilo de lista a los elementos de la lista y ajustamos tamaño de fuente*/
.itemMenu{
list-style: none;
font-size: 1.5em;
text-align: center;
margin-left: .5em;
margin-top: 0px;


}

.itemMenu a{
color: grey;
font-size: .9em;

}
/* cuando el cursor esta sobre el elemento del menu cambia de color */
.itemMenu a:hover{
/* background-color: var(--color-menu-hover); */

color: white;
border-bottom: solid var(--color-letra2) 1px;

}

.imgMochila{
    width: 40px;
    margin-top: -150px;
    
}

.itemMenu input{
    margin-left: 240px;
    border-radius: 10px;
    height: 30px;
    border-bottom: solid #152b41 1px;
    width: 250px;
}

/* le damos formato a los elemtos del menu desplegable y tambien los ocultamos con display:none */
.items{
display: flex;
justify-content: flex-start;
width: 98%;
height: 50px;
margin-top:-100px;;
margin-left: -30px;
/* background-color: var(--color-fondo); */
background-color:var(--color-backgroundUpyDown);
opacity: .7;

color: var(--color-menu-hover);
font-family: 'Roboto', sans-serif;
 
}


/* contenedor de todos los cursos a este elemento se aplica propiedades flex box */
.cardCurso{
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: flex-start; 
width: auto;

}
/* ajustamos el tamaño y propiedades de cada card */
.card{
margin-top: 15px;
width: 200px;

border: solid rgb(99, 82, 231) 2px;
border-radius: 15px;
margin: 5px; 
background-color: var(--color-backgroundMediumCards);


}
/* cuando el puntero esta sobre la card */
.card:hover{

background-color: var(--color-fondo);
border: solid rgb(53, 53, 59) 2px;
box-shadow: -6px 2px 46px 0px rgba(0,0,0,0.75);
transform: scale(1.1);
}
/* ajustamos la cabecera de la card */
.card-header{
text-align: center;
color: rgb(227, 232, 237);
font-family: 'Roboto', sans-serif;


}

/* titulo del card */
.opcAdm_titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    color: #1d201e;
    /* border: solid red 2px; */
    
}

/* formato al contenedor de la imagen */
.imagenCurso{
display: flex;
justify-content: center;
align-items: center;
margin-top: 10px;
padding-bottom: 10px;

border-bottom: solid var(--color-lineasCard) 2px;
overflow: hidden;


}
/* formato a la imagen */
.imagenCurso img{
width: 60px;
height: 50px;
max-width: 100%;
max-height: 60px;
margin: 2px;


border-radius: 0px;
}
.card-footer{

width: 100%;
display: flex;
justify-content: space-around;
margin-right: 20px;
margin-top: 5px;
margin-bottom: 11px;


}


/* le damos formato al div que contiene el costo*/
.costo{
display: flex;
justify-content: center;
align-items: center;
background-color: rgb(72, 210, 109);
border-radius: 5px;
border: solid black 1px;
padding: 3px 20px 3px;
}
.costo:hover{
background-color: rgb(143, 198, 157);
}

/* le damos formato al div que contiene a la imagen mochila */
.mochila{
background-color: rgb(66, 74, 224);
border-radius: 5px;
border: solid black 1px;
padding: 3px 20px 3px;
}
.mochila:hover{
background-color: rgb(34, 43, 212);
}
/* tamaño de la imagen mochila */
.mochila a img {
width: 40px;

}
.patas{

background-color: var(--color-backgroundUpyDown);

height: 30px;

}
/* formato flex box a div de las redes sociales */
.patas1{
margin-top: 1em;
display: flex;
justify-content: space-around;

}
/* le damos formato a div que contiene derechos reservados */
.patas2{
color: var(--color-letra2);
text-align: center;
margin-bottom: 0;

}
/* le damos tamaño a las imagenes de redes sociales */
.itemfoot a img {
width: 35px;


}
/* formato cuando este sobre la imagen */
.itemfoot a img:hover{

 border-radius: 20px;
background-color: var(--color-fondo);
border: solid rgb(53, 53, 59) 2px;
box-shadow: -6px 2px 46px 0px rgba(84, 79, 231, 0.75); 
}


.buscador{
   
    visibility: hidden;
}

.administra a img{
    width: 20px;
}


.cont_repr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reproductor{
    width: 700px;
    height: 450;
}

.aside--lista__temas{
    
}

.aside--lista__temas-imagen{
    width: 20px;
    height: 20px;
    fill: #108eee;
    margin-right: 5.4px;
    display: inline-block;
    vertical-align: middle;
}


.cont_repr{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0% 5%;
    margin-top: 0;     
    /* border: solid red 2px; */
    background-color: #181c1f;
}

#contenedor-video{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid yellow 2px;
    
}

.reproductor{
    width: 850px;
}

.contenedor-temas{
    border: solid rgb(0, 255, 51) 2px;
    margin: 10px;
    height:100vh;
    width: 300px;
    color: #FCF8E8;
    background-color: #181c1f;
    display: block;
}

.header--aside{
    /* border: solid rgb(255, 0, 234) 1px;  */
    height: auto;
    background: #222629;
}

.aside--titulo__cursoImagen{ 
    /* border: solid rgb(25, 0, 255) 2px; */
    display: flex;
    justify-content: space-around;
    
    align-items: center;
    


    
}
.aside--menu__img--responsive{
    /* border: solid red 1px;  */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 95%;
    

    
}
#menu__img--responsive{
   padding-top: 5px;

}
.img__curso--miniatura{
    width: 60px;
    border-radius: 5px;
    
}

#nomCurso{
    font-size: 15px;
    /* width: 40%;
    border: solid rgb(87, 231, 216) 1px;  */
}
.aside--barraProgresoCurso{
    border: solid red 1px; 
    width: 80%;
    margin: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    gap: 10px;
   
}

.porcentaje{
    border: solid rgb(255, 204, 0) 1px; 
    width: 20px;
    height: 20px;
}
.barraProgreso{
    border: solid rgb(8, 0, 255) 1px; 
    width: 20px;
    height: 20px;
}


.aside--body{
    border: solid rgb(0, 60, 255) 2px;
}
#listaTemas{
    list-style: none;
    color: #ffffff;
    width: 100%;
    margin-top: 10px;
    border: solid red 2px;
}


.item-list-temas{
    width: 50%;
    
}


.nav-item-video{
    color: #ffffff;
    
    
}





.item-list-temas{
}

.nav-item-video{
    /* background: #282c2f;
    border-left: 6px solid #32a7e5;
    padding-left: 14.4px; */

}



/*meidida de 960 a 1328 para ordenadores si queremos podemos incluir otra medida
para ordenadores mas pequeños que va de  960 a 1024 *************************************************************************************************************************************/
@media (max-width:1328px){
    
    .container {
        /*le indicamos que abarque todo el largo de la ventana*/
        
        width: auto;
        height: auto;
        
        background-color:var(--color-background);
        /*hacemos uso de grid con display:grid*/
        display: grid;
        /*definimos las areas que tendra el layout*/
        grid-template-areas:
        
        'menu '
        'card '
        'patas'
        ;
      
        /*Indicamos la separacion entre cada columna*/
        gap: 0px;
      
         background-color: var(--color-fondo960);
    }
    
    .container>*{
     width: 100%;
     height: 100%;
    }
    
/* asociamos con la ~ cuando esta chequeado se muestran los elementos del menu */
.btnMenu{
    visibility:hidden;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
   
  }
  .check{
    display: none;
    width: 0;
    height: 0;
  }

  .logodeBarraNav {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: -37px;
    margin-left: -25px;
    background-color: rgb(44, 64, 128);
  
}
.logodeBarraNav:hover{
    background-color: rgb(44, 64, 128);
}

.menu{


    width: 100%;
    height: 88px;
    background-color:var(--color-backgroundUpyDown);
    

    
}

/* quitamos el estilo de lista a los elementos de la lista y ajustamos tamaño de fuente*/
.itemMenu{
    list-style: none;
    font-size: 1.5em;
    text-align: center;
    margin-left: .5em;
    margin-top: 0px;
    
  
}

.itemMenu a{
    color: grey;
    font-size: .8em;
}
/* cuando el cursor esta sobre el elemento del menu cambia de color */
.itemMenu a:hover{
    /* background-color: var(--color-menu-hover); */
    color: white;
    
    border-bottom: solid var(--color-letra2) 1px;
    
}
.imgMochila{
    width: 40px;
    margin-top: -150px;
    
}

.itemMenu input{
    margin-left: 150px;
    border-radius: 10px;
    height: 30px;
    border-bottom: solid #152b41 1px;
    width: 150px;
}

/* le damos formato a los elemtos del menu desplegable y tambien los ocultamos con display:none */
.items{
    display: flex;
    justify-content: flex-start;
    width: 98%;
    height: 50px;
    margin-top:-100px;;
    margin-left: -30px;
    /* background-color: var(--color-fondo); */
    background-color:var(--color-backgroundUpyDown);
    opacity: .7;
    
    color: var(--color-menu-hover);
    font-family: 'Roboto', sans-serif;
     
}


  /* contenedor de todos los cursos a este elemento se aplica propiedades flex box */
  .cardCurso{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start; 
    width: 100%;
    
    
}
/* ajustamos el tamaño y propiedades de cada card */
.card{
    margin-top: 5px;
    width: 150px;
    border: solid rgb(99, 82, 231) 2px;
    border-radius: 15px;
    
    background-color: var(--color-backgroundMediumCards);
    
    
 }
/* cuando el puntero esta sobre la card */
 .card:hover{
    
    background-color: var(--color-fondo);
    border: solid rgb(53, 53, 59) 2px;
    box-shadow: -6px 2px 46px 0px rgba(0,0,0,0.75);
 }
 /* ajustamos la cabecera de la card */
 .card-header{
    text-align: center;
    color: rgb(227, 232, 237);
    font-family: 'Roboto', sans-serif;
    font-size: 9px;
    height: 22px;
    margin: 2px;
}

/* cuerpo del card */
.card-body{
    height: 65px;
    margin: 0;
}

/* formato al contenedor de la imagen */
.imagenCurso{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: solid var(--color-lineasCard) 2px;

}
   /* formato a la imagen */
.imagenCurso img{
    width: 50px;
    border-radius: 0px;
    
   }
.card-footer{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    margin-bottom: 2px;

}
/* le damos formato al div que contiene el costo*/
.costo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(72, 210, 109);
    border-radius: 5px;
    border: solid black 1px;
    padding: 3px 20px 3px;
}
.costo:hover{
    background-color: rgb(143, 198, 157);
}

/* le damos formato al div que contiene a la imagen mochila */
.mochila{
    background-color: rgb(66, 74, 224);
    border-radius: 5px;
    border: solid black 1px;
    padding: 3px 20px 3px;
}
.mochila:hover{
    background-color: rgb(34, 43, 212);
}
/* tamaño de la imagen mochila */
.mochila a img {
    width: 40px;
    
}
.patas{
   
    background-color: var(--color-backgroundUpyDown);
    border: solid rgb(33, 28, 57) 2px;
    
    height: auto;
   
}
/* formato flex box a div de las redes sociales */
.patas1{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}
/* le damos formato a div que contiene derechos reservados */
.patas2{
    color: var(--color-letra2);
    text-align: center;
    margin-bottom: 0;
}
/* le damos tamaño a las imagenes de redes sociales */
.itemfoot a img {
    width: 30px;
    
}
/* formato cuando este sobre la imagen */
.itemfoot a img:hover{
    
    /* border-radius: 20px; 
    background-color: var(--color-fondo);
    border: solid rgb(53, 53, 59) 2px;
    box-shadow: -6px 2px 46px 0px rgba(84, 79, 231, 0.75); */
}

.aside{
    display: flex;
}

.cont_repr{
    display: flex;
    justify-content: center;
    align-items: center;
}

.reproductor{
    width: 850px;
}

.contenedor-temas{
    border: solid rgb(0, 255, 51) 2px;
    margin: 10px;
    height:100vh;
    width: 200px;
    color: #FCF8E8;
    background-color: #181c1f;
}


}



/* ****************************************************************************************************************************************************************************------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width:960px) {
 /*declaramos las propiedades para areas*/

.menu {grid-area: menu;}
.cardCurso{grid-area: card;}
.patas {grid-area: patas;}


.container {
    /*le indicamos que abarque todo el largo de la ventana*/
    
    width: auto;
    height: auto;
    
    background-color:var(--color-background);
    /*hacemos uso de grid con display:grid*/
    display: grid;
    /*definimos las areas que tendra el layout*/
    grid-template-areas:
    
    'menu menu'
    'card card'
    'patas patas'
    ;
  
    /*Indicamos la separacion entre cada columna*/
    gap: 0px;
    min-height: 100vh; 
}

.container>*{
    width: 100%;
   height: 100%;
    
}



.menu{
    width: 100%;
    height: 88px;
    background-color:var(--color-backgroundUpyDown);
    
    
}
#barraNavega{
    height: 88px;
    
}
/* Logo de la barra de navegacion reducimos tamaño */
.logodeBarraNav{
    display: none;
  
}

/* quitamos el estilo de lista a los elementos de la lista y ajustamos tamaño de fuente*/
.itemMenu{
    list-style: none;
    font-size: 1.5em;
    text-align: left;
    margin-left: .5em;


}
/* cuando el cursor esta sobre el elemento del menu cambia de color */
.itemMenu a:hover{
    background-color: var(--color-menu-hover);
    color: white;
    box-shadow: 0px 0px 30px #ffffff;
    
}



/* apuntamos a los elmentos del menu y despues a la imagen quitamos las imagenes y solo se muestra el texto */
.itemMenu img{
    display: none;
 
}

/* le damos formato a los elemtos del menu desplegable y tambien los ocultamos con display:none */
.items{
   
    width: 90%;
    height: 250px;
    margin-top: -15px;
    
    margin-left: -30px;
    background-color: var(--color-fondo960);
    opacity: .6;
    
    color: var(--color-menu-hover);
    font-family: 'Roboto', sans-serif;
    display: none; 
    
}

/* redimensionamos el tamaño de la imagen que simula al menu y le damos margen  */
.btnMenu img{
    visibility: visible;
    margin: 10px;
    width: 50px;
    
}

/* asociamos con la ~ cuando esta chequeado se muestran los elementos del menu */
input:checked  ~ .items{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
   
  }
  /* ocultamos el cuadro del check */
input {
    display: none;
  }

  /* contenedor de todos los cursos a este elemento se aplica propiedades flex box */
.cardCurso{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start; 
    width: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(6,17,52,1) 86%);
}
/* ajustamos el tamaño y propiedades de cada card */
.card{
    width: 170px;
    border: solid black 2px;
    border-radius: 15px;
    margin: 10px; 
    
 }
 /* ajustamos la cabecera de la card */
 .card-header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    height: 20px;
}
/* ajustamos la descripcion del curso */
.descripcionCurso {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    text-align: justify;
    width: 90%;
  
}

/* formato al contenedor de la imagen */
.imagenCurso{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4px;
    border-bottom: solid var(--color-lineasCard) 2px;

}
/* formato a la imagen */
.imagenCurso img{
    width: 55px;
    border-radius: 0px;
   }


.card-footer{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;

}

/* tamaño de la imagen mochila */
.mochila a img {
    width: 40px;
    
}
.patas{
   
    background-color: var(--color-backgroundUpyDown);
}
/* formato flex box a div de las redes sociales */
.patas1{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}

/* le damos formato a div que contiene derechos reservados */
.patas2{
    color: var(--color-letra2);
    text-align: center;
}

.itemfoot a img {
    width: 35px;
}

.aside{
    display: none;
}

.cont_repr{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #125B50;
}

.reproductor{
    max-width: 750px;
    min-width: 500px;
}


}

.nombreUsr{
   
    
}



/*-************************************************************************************************************************************************************----------------------------------------------------------------
Colocamos las media queris esta primera es para dispositivos moviles 
que van de 0 a 480 hay un break point intermedio para moviles mas pequeños que va 
de 0 a 320 */
@media (max-width:480px){
    
   
/*declaramos las propiedades para areas*/

.menu {grid-area: menu;}
.cardCurso{grid-area: card;}
.patas {grid-area: patas;}


.container {
    /*le indicamos que abarque todo el largo de la ventana*/
    
    width: auto;
    height: auto;
    
    background-color:var(--color-background);
    /*hacemos uso de grid con display:grid*/
    display: grid;
    /*definimos las areas que tendra el layout*/
    grid-template-areas:
    
    'menu'
    'card'
    'patas'
    ;
  
    /*Indicamos la separacion entre cada columna*/
    gap: 0px;
     
}

.container>*{
    width: 100%;
   
    
}




.menu{
    background-color:var(--color-backgroundUpyDown);
    
}

/* quitamos el estilo de lista a los elementos de la lista y ajustamos tamaño de fuente*/
.itemMenu{
    list-style: none;
    font-size: 1.2em;
    text-align: left;

}

/* apuntamos a los elmentos del menu y despues a la imagen quitamos las imagenes y solo se muestra el texto */
.itemMenu img{
    display: none;
 
}

/* no mostramos los elemtos del menu */
.items{
    width: 70%;
    margin-top: -8px;
    margin-left: -30px;
    background-color: var(--color-menu-hamburguesa);
    opacity: .8;
    color: var(--color-letra3);
    text-align: left;
    display: none;
    
    
   
}
/* Logo de la barra de navegacion, ocultamos y reducimos tamaño */
.logodeBarraNav{
    display: none;
    

}
/* ajustamos el tamaño del icono del menu */
.btnMenu img{
    visibility: visible;
    margin: 10px;
    width: 40px;
    
}

/* asociamos con la ~ cuando esta chequeado se muestran los elementos del menu */
input:checked  ~ .items{
    display:block;
  }

input {
    display: none;
  }

.cardCurso{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(6,17,52,1) 86%);
}
.card{
   width: 130px;
   border: solid black 2px;
   border-radius: 15px;
   margin: 4px; 
   
}

.card-header{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 8px;
}


.descripcionCurso {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    width: 80%;
  
}
/* formato al contenedor de la imagen */
.imagenCurso{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 2px;
    border-bottom: solid var(--color-lineasCard) 2px;

}

/* formato a la imagen */
.imagenCurso img{
 border-radius: 10px;
}


.descripcionCurso p {
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: justify;
}

.card-footer{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;

}
/* tamaño de la imagen mochila */
.mochila a img {
    width: 30px;
    
}
.patas{
   
    background-color: var(--color-backgroundUpyDown);
}

.patas1{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}
.patas2{
    color: var(--color-letra2);
    text-align: center;
}

.itemfoot a img {
    width: 35px;
}

.cont_repr{
    background-color: #125B50;
    display: flex;
    justify-content: center;
    align-items: center;
 width: 550px;
    
}

.reproductor{
   width: 20px;
}

.nombreUsr{
 display: none;
 visibility:collapse;
}

}