@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&family=Roboto:wght@300;400;700&display=swap');

/*Definimos los colores y las guardamos en variables para acceder a ellas desde el codigo*/
:root{
    --color-menu: #125B50;
    --color-menu-hover: #1d201e;
    --color-menu-hamburguesa:rgb(207, 129, 129); 
    --color-backgroundMobilCards: #FCF8E8; 
    --color-backgroundMediumCards: #344969; 
    --color-backgroundUpyDown:rgba(6,17,52,1);
    --color-fondo:#2367ab; 
    --color-fondo960:#152b41;
    --color-fondo1400:#1873ce;
    --color-letra1:black;
    --color-letra2:white;
    --color-letra3:red;
    --color-lineasCard:black; 
    
}

a{
    text-decoration: none;
    color: black;
}

body{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}
/* areas grid definidas por clase y se asigna como grid area con un identificador */
.menu{grid-area: menu;}
.aside{grid-area: aside;}
.contenedor__tabla--preguntas-test{grid-area: tabla;}
.patas{grid-area: patas;}

.container {
    /*le indicamos que abarque todo el largo de la ventana*/
    
    width: auto;
    height: auto;
    border: solid pink 2px;
    background-color:var(--color-background);
    /*hacemos uso de grid con display:grid*/
    display: grid;
    /*definimos las areas que tendra el layout*/
    grid-template-areas:
    
    'menu menu menu menu'
    'aside aside tabla tabla'
    'aside aside tabla tabla'
    'patas patas patas patas'
    ;
  
    /*Indicamos la separacion entre cada columna*/
    gap: 0px;
  
     background-color: var(--color-fondo960);
     min-height: 100vh;  
}

.container>*{


}

/* inicio oculto, para ocultar las letras  */

.itemInicio{
    visibility: collapse;
}

/* asociamos con la ~ cuando esta chequeado se muestran los elementos del menu */
.btnMenu{
visibility:visible;
display: none;
}
/* quitamos el input que despliega el menu en tamaño mobil */
.check{
display: none;

width: 0;
height: 0;
}

.logodeBarraNav {
width: 60px;

background-color: rgb(44, 64, 128);

}
.logodeBarraNav:hover{
background-color: rgb(44, 64, 128);
}

.menu{
    width: 100%;

    height: 60px;
    background-color:var(--color-backgroundUpyDown);
    border: solid rgba(0, 255, 42, 0.52) 2px;

    display: flex;
    justify-content: space-between;
   
}

.menuHijo1{
    display: flex;
    justify-content: flex-start;
    
    border: solid red 1px;
    
}
.menuHijo2{
    border: solid red 1px;
}

/* elementos de meni */
.items{
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 2px;
    color: var(--color-menu-hover);
    font-family: 'Roboto', sans-serif;
     
    }

/* quitamos el estilo de lista a los elementos de la lista y ajustamos tamaño de fuente*/
.itemMenu{

font-size: 1.2em;
text-align: center;


}

/* LI que contiene la imagen y el nombre de usuario */
#datosPersonales{
    margin-top: -20px;
}

/* nombre de usuario */
.nombreUsr{
    
    font-family: 'Roboto', sans-serif;
    font-size: 15px;    
    /* border: solid gold 2px; */
    
    
}

/* imagen del usuario */
.imgAdmin{
    width: 25px;
    border-radius: 15px;
    border: solid black 2px;   
}



.imgMenuCat{
    width: 50px;
}

/* //quitamos la imagen de menu que para mobil */
.imgMenuCatResp{
    display: none;
}

.itemMenu a{

color: grey;
font-size: .9em;

}
/* cuando el cursor esta sobre el elemento del menu cambia de color */
.itemMenu a:hover{
/* background-color: var(--color-menu-hover); */

color: white;
border-bottom: solid var(--color-letra2) 1px;

}

.imgMochila{
    width: 40px;
    margin-top: -150px;
    
}

.itemMenu input{
    margin-left: 240px;
    border-radius: 10px;
    height: 30px;
    border-bottom: solid #152b41 1px;
    width: 250px;
}




.patas{

background-color: var(--color-backgroundUpyDown);
width: auto;
height: auto;

}
/* formato flex box a div de las redes sociales */
.patas1{
margin-top: 1em;
display: flex;
justify-content: space-around;
width: auto;
height: auto;

}
/* le damos formato a div que contiene derechos reservados */
.patas2{
color: var(--color-letra2);
text-align: center;
margin-bottom: 0;
width: auto;
height: auto;
}
/* le damos tamaño a las imagenes de redes sociales */
.itemfoot a img {
width: 35px;

}
/* formato cuando este sobre la imagen */
.itemfoot a img:hover{

border-radius: 20px;
background-color: var(--color-fondo);
border: solid rgb(53, 53, 59) 2px;
box-shadow: -6px 2px 46px 0px rgba(84, 79, 231, 0.75);
}

.aside{
/* border: solid red 4px; */
width: 500px;
height: 500px;
background-color: #125B50;

}

.opcAdm_titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 2.3em;
    color: #1d201e;
    
}

.administra a img{
    width: 25px;
}

.imgMenu{
    width: 40px;
    padding-top: -50px;
    padding-right: 20px;
}

/* imagen del perfil del usuario */
.imgPerfil {
    visibility: visible;
    margin-top: -10px;
    width:40px;
    border-radius:20px;
    margin-left: 120px;
    
}


/* imagen de cerrar sesion del usuario */
.imgCcerrarSes{
    visibility: visible;
    width: 40px;
    padding-top: -50px;
    padding-right: 0px;
    margin-left: 100px;
}

/* area de busqueda del formulario */
#areaBuscar{
   height:28px ;
    width:200px;
    border-radius: 5px;
    margin-left: 200px;
}

/* boton buscar de la barra de navegacion */
#btnBuscar{
    width: 100px;
    height: 33px;
    border-radius: 5px;
    background-color: #228c36;
    cursor: pointer;
}

/* FORMATO A CONTENIDO DEL TEST --------------------------------------------------------------------------------------------------------------------------------------------*/

.formTest{
    border: solid greenyellow 2px;
    width: 200px;
   
   
}

#exam-form{
    display: inline;
    color:azure;
}

.question> input{
    border-radius: 8px;
    border: 1px solid #0A3871;
    color: #0A3871;
    width: 17%;
    height: 17px;
    padding: 4px;
    background-color: #F3F5FC;
    font-size: 18px;
    margin:5px 2px ;
}

#pregunta-1{
width: 70%;
display: block;
}

.question> label{
    font-size: 21px;
}

.question{
margin: 20px 0;

}
#questions{
    padding-bottom:10px ;
    border-bottom: solid black 2px;
}


.modal{
    position: sticky;
    width: 600px;
    height: 400px;
    margin-top: -650px;
    margin-left: 230px;
    background-color: #0A3871;
    /* border: solid black 2px; */
    
}

.btnCerrar {
    border: #0A3871;
    border-radius: 10px;
    width: 140px;
    height: 20px;
    margin-top: 300px ;
    margin-left: 450px;
}

.select{
   
    width: 300px;
    margin-top: -310px;
    
}
.contenedor_formulario__test {

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 500px;
    background-color: #344969;
    z-index: 1;
    overflow: auto;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-image: url(../img/imgsysgerde/Logo_CAE.png);
    background-size: 125px 100px;
    background-position: top right;
    background-repeat: no-repeat; 
    border: solid rebeccapurple 2px;
  }
  

#formulario{
    color: #1d201e;
    width: 90%;
    height: 90%;
    
    
    
}

.titulo__modal__preguntas{
    text-align: center;
}
.input_form{
    
    width: 90%;
    height: 20px;
    margin: 10px;
    background-color: transparent;
    
    border: none;
    border-bottom: solid 1px #000;
    outline: none;
    color: black;
    vertical-align: middle;

}


.etiqueta_input{
    color: rgb(0, 8, 2);
    font-size: 20px;
    padding: 10px;

}

input::placeholder {
    
}

.modal__btnAgregaPreg, .saveAdd{
    
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: rgb(0, 92, 128);
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    
      
}


.btn-close{
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 40px;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
}
  

  



.contenedor__tabla--preguntas-test{
    border: solid green 2px;
    width: auto;
    display: flex;
    justify-content: flex-start;
    
}

table{
    font-family: 'Roboto', sans-serif;
    border:var(--color-cabecera);
    border-collapse: unset;
    border-spacing: 5px;
    margin: 0;
    font-size: 1em;
    max-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); 

}

.preguntaDom{
    width: 60%;
    border: solid #0A3871 2px;
    color: #F3F5FC;
}

.resp{
    width: 50%;
}


.quitar{
    border: #0A3871;
    border-radius: 5px;
    background:#be1f3a ;
    color: white;
    
}

.actualizar{
    border: #0A3871;
    border-radius: 5px;
    background:#1fbe27dd ;
    color: white;
}

.testTemas{
    text-align: center;
}
.listaTesta{

    
    height: 600px; /*Aqui puedes especificar el limite de alto */
    overflow-y: auto; /* para que aparezca un scroll vertical */

    
}

.mensajeAlertaOff{
    opacity: 0; /* Inicia con opacidad 0 */
    transition: opacity 1s; /* Aplica una transición a la opacidad con una duración de 1 segundo */
    
    display: none;

}

.mensajeAlertaOnn{
    color: #07bbed;
    background: #ed0707;
    width: 300px;
    height: 30px;
    text-align: center;
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    opacity: 1;
    
    
}


   
/* FIN FORMATO CONTENIDO DEL TEST */



/*meidida de 960 a 1328 para ordenadores si queremos podemos incluir otra medida
para ordenadores mas pequeños que va de  960 a 1024 *******************************************************************************************************************************************/
@media (max-width:1328px){

    .menu{grid-area: menu;}
    .aside{grid-area: aside;}
    .conTabla{grid-area: tabla;}
    .patas{grid-area: patas;}

    .container {
        /*le indicamos que abarque todo el largo de la ventana*/
        
        width: auto;
        height: auto;
        
        background-color:var(--color-background);
        /*hacemos uso de grid con display:grid*/
        display: grid;
        /*definimos las areas que tendra el layout*/
        grid-template-areas:
        
        'menu menu menu menu'
        'aside aside tabla tabla'
        'patas patas patas patas'
        ;
      
        /*Indicamos la separacion entre cada columna*/
        gap: 0px;
      
         background-color: var(--color-fondo960);
    }
    
    .container>*{
     width: 100%;
     height: 100%;
    }
 
    
    

    /* asociamos con la ~ cuando esta chequeado se muestran los elementos del menu */
    .btnMenu{
    visibility:hidden;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
   
  }
  .check{
    display: none;
    width: 0;
    height: 0;
  }

  .logodeBarraNav {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    margin-top: -37px;
    margin-left: -25px;
    background-color: rgb(44, 64, 128);
  
}
.logodeBarraNav:hover{
    background-color: rgb(44, 64, 128);
}

.menu{


    width: 100%;
    height: 88px;
    background-color:var(--color-backgroundUpyDown);
    

    
}

/* quitamos el estilo de lista a los elementos de la lista y ajustamos tamaño de fuente*/
.itemMenu{
    list-style: none;
    font-size: 1.5em;
    text-align: center;
    margin-left: .5em;
    margin-top: 0px;
    
  
}

.itemInicio{
    visibility: visible;
}

.itemMenu a{
    color: grey;
    font-size: .8em;
}
/* cuando el cursor esta sobre el elemento del menu cambia de color */
.itemMenu a:hover{
    /* background-color: var(--color-menu-hover); */
    color: white;
    
    border-bottom: solid var(--color-letra2) 1px;
    
}
.imgMochila{
    width: 40px;
    margin-top: -150px;
    
}

.itemMenu input{
    margin-left: 150px;
    border-radius: 10px;
    height: 30px;
    border-bottom: solid #152b41 1px;
    width: 150px;
}

/* le damos formato a los elemtos del menu desplegable y tambien los ocultamos con display:none */
.items{
    display: flex;
    justify-content: flex-start;
    width: 98%;
    height: 50px;
    margin-top:-100px;;
    margin-left: -30px;
    /* background-color: var(--color-fondo); */
    background-color:var(--color-backgroundUpyDown);
    opacity: .7;
    
    color: var(--color-menu-hover);
    font-family: 'Roboto', sans-serif;
     
}

/* imagen del perfil del usuario */
.imgPerfil {
    visibility: visible;
    margin-top: -10px;
    width:40px;
    border-radius:20px;
    margin-left: 70px;
    
}


/* imagen de cerrar sesion del usuario */
.imgCcerrarSes{
    visibility: visible;
    width: 40px;
    padding-top: -50px;
    padding-right: 0px;
    margin-left: 100px;
}

/* area de busqueda del formulario */
#areaBuscar{
   height:28px ;
    width:140px;
    border-radius: 5px;
    margin-left: 20px;
}

/* boton buscar de la barra de navegacion */
#btnBuscar{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: #228c36;
    cursor: pointer;
    font-size: 15px;
}




.patas{
   
    background-color: var(--color-backgroundUpyDown);
}
/* formato flex box a div de las redes sociales */
.patas1{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}
/* le damos formato a div que contiene derechos reservados */
.patas2{
    color: var(--color-letra2);
    text-align: center;
    margin-bottom: 0;
}
/* le damos tamaño a las imagenes de redes sociales */
.itemfoot a img {
    width: 35px;
    
}
/* formato cuando este sobre la imagen */
.itemfoot a img:hover{
    
     border-radius: 20px;
    background-color: var(--color-fondo);
    border: solid rgb(53, 53, 59) 2px;
    box-shadow: -6px 2px 46px 0px rgba(84, 79, 231, 0.75);
}

.aside{
    border: solid white 2px;
    width: 100px;
}



}



/* ************************FORMULARIO************************** */


/* div contenedor del formulario */
.contenedorForm{
    /* border: solid black 2px; */
    display: flex;
    justify-content: center;

    
}

/* etiqueta form */
.formulario{
border: solid brown 2px;
font-family: 'Roboto', sans-serif;
color: var(--color-backgroundMobilCards);

font-size: 1rem;
border-radius: 20px;
background-color: var(--color-fondo960);
border: solid rgb(53, 53, 59) 2px;
box-shadow: -6px 2px 46px 0px rgba(84, 79, 231, 0.75);
margin: 10px;

}

/* titulo del formulario */
.titulo_fomulario{
margin-top: 0;
text-align: center;


}

.formBloque{

padding: .5em ;

}

.inputForm{
    font-family: 'Roboto', sans-serif;
    border: none;
    border-bottom: #1d201e 2px;
}

.btn_cancel{
    width: 140px;
    background: #98281a;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .5em 0;
    margin: 50px 20px;
    border: none;
    border-radius: .5em; 
}

.btn_submit{
    width: 150px;
    margin-top: 10px;
    background: #3866f2;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    padding: .5em 0;
    margin-bottom: 10px;
    border: none;
    border-radius: .5em;

}

/* div que contiene a la barra de carga */
.ZonaCarga{
    width: 90%;
    /* border: solid black 2px; */ 
    display: flex;
    justify-content: center;
}

/* barra de carga */
.barraCarga{
    width: 90%;
    height: 25px;
    
}
/* ****************************************************************************************************************************************************************************------------ */
/* -------------------------------------------------------------------------------------------------------------------------------------------------- */
@media (max-width:960px) {
 /*declaramos las propiedades para areas*/

 .menu{grid-area: menu;}
 .aside{grid-area: aside;}
 .conTabla{grid-area: tabla;}
 .patas{grid-area: patas;}


.container {
    /*le indicamos que abarque todo el largo de la ventana*/
    
    width: auto;
    height: auto;
    
    background-color:var(--color-background);
    /*hacemos uso de grid con display:grid*/
    display: grid;
    /*definimos las areas que tendra el layout*/
    grid-template-areas:
    
    'menu menu menu'
    'aside tabla tabla'
    'patas patas patas'
    ;
  
    /*Indicamos la separacion entre cada columna*/
    gap: 0px;
    min-height: 100vh; 
}

.container>*{
   width: 100%;
   height: 100%;
    
}



.menu{
    width: 100%;
    background-color:var(--color-backgroundUpyDown);
    
}

/* Logo de la barra de navegacion reducimos tamaño */
.logodeBarraNav{
    display: none;
  
}

/* quitamos el estilo de lista a los elementos de la lista y ajustamos tamaño de fuente*/
.itemMenu{
    list-style: none;
    font-size: 1.5em;
    text-align: left;
    margin-left: .5em;


}
/* cuando el cursor esta sobre el elemento del menu cambia de color */
.itemMenu a:hover{
    background-color: var(--color-menu-hover);
    color: white;
    box-shadow: 0px 0px 30px #ffffff;
    
}



/* apuntamos a los elmentos del menu y despues a la imagen quitamos las imagenes y solo se muestra el texto */
.itemMenu img{
    display: none;
 
}

/* le damos formato a los elemtos del menu desplegable y tambien los ocultamos con display:none */
.items{
   
    width: 90%;
    height: 250px;
    margin-top: -15px;
    
    margin-left: -30px;
    background-color: var(--color-fondo960);
    opacity: .6;
    
    color: var(--color-menu-hover);
    font-family: 'Roboto', sans-serif;
    display: none; 
    
}

/* redimensionamos el tamaño de la imagen que simula al menu y le damos margen  */
.btnMenu img{
    visibility: visible;
    margin: 10px;
    width: 50px;
    
}

/* asociamos con la ~ cuando esta chequeado se muestran los elementos del menu */
input:checked  ~ .items{
    display:flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
   
  }
  /* ocultamos el cuadro del check */
input {
    display: none;
  }



/* ocultamos la imagen del perfil */
.imgPerfil {
    visibility: hidden;
    
    
}
/* ocultamos el nombre del usuario que aprece con la imagen de perfil */
.nombreUsr{
    visibility: hidden;
}

.imgCcerrarSes{
visibility: hidden;
}



.patas{
   
    background-color: var(--color-backgroundUpyDown);
}
/* formato flex box a div de las redes sociales */
.patas1{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}

/* le damos formato a div que contiene derechos reservados */
.patas2{
    color: var(--color-letra2);
    text-align: center;
}

.itemfoot a img {
    width: 35px;
}

.aside{
    display: none;
}

}



/*---------------------------------------------------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------------------------------------------------------
Colocamos las media queris esta primera es para dispositivos moviles 
que van de 0 a 480 */
@media (max-width:480px){
    
   
/*declaramos las propiedades para areas*/

.menu{grid-area: menu;}
.aside{grid-area: aside;}
.conTabla{grid-area: tabla;}
.patas{grid-area: patas;}


.container {
    /*le indicamos que abarque todo el largo de la ventana*/
    
    width: auto;
    height: auto;
    
    background-color:var(--color-background); 
    /*hacemos uso de grid con display:grid*/
    display: grid;
    /*definimos las areas que tendra el layout*/
    grid-template-areas:
    
    'menu'
    'tabla'
    'patas'
    ;
  
    /*Indicamos la separacion entre cada columna*/
    gap: 0px;
     
}

.container>*{
    width: 100%;
   
    
}




.menu{
    background-color:var(--color-backgroundUpyDown);
    
}

/* quitamos el estilo de lista a los elementos de la lista y ajustamos tamaño de fuente*/
.itemMenu{
    list-style: none;
    font-size: 1.2em;
    text-align: left;

}

.itemInicio{
    visibility: visible;
}


/* apuntamos a los elmentos del menu y despues a la imagen quitamos las imagenes y solo se muestra el texto */
.itemMenu img{
    display: none;
 
}

/* no mostramos los elemtos del menu */
.items{
    width: 70%;
    margin-top: -8px;
    margin-left: -30px;
    background-color: var(--color-menu-hamburguesa);
    opacity: .8;
    color: var(--color-letra3);
    text-align: left;
    display: none;
    
    
   
}
/* Logo de la barra de navegacion, ocultamos y reducimos tamaño */
.logodeBarraNav{
    display: none;
    

}

/* ajustamos el tamaño del icono del menu */
.btnMenu img{
    visibility: visible;
    margin: 10px;
    width: 40px;
    
}

/* asociamos con la ~ cuando esta chequeado se muestran los elementos del menu */
input:checked  ~ .items{
    display:block;
  }

input {
    display: none;
  }



/* ocultamos el nombre del usuario que aprece con la imagen de perfil */
.nombreUsr{
    visibility: hidden;
}

.imgCcerrarSes{
visibility: hidden;
}


.patas{
   
    background-color: var(--color-backgroundUpyDown);
}

.patas1{
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}
.patas2{
    color: var(--color-letra2);
    text-align: center;
}

.itemfoot a img {
    width: 35px;
}

}